workDir = "/mnt/immunocompnas1/projects/liver-met/processing/work"

params { 

    run_workflow = 'integration'
    samplesheet = "/home/adrianparrilla@vhio.org/nextflow/scRNA/samplesheet.csv"
    outdir = "/mnt/immunocompnas1/projects/liver-met/processing/results/"

    metadata = "/mnt/immunocompnas1/projects/liver-met/processing/samples_metadata.csv"
    filename = 'LiverMets'

    merge_adatas{
        sample_key_merge = 'sample_old'
    }

    plot_QC{
        color_by = 'pool'
        sample_key_plot = 'sample'
    }
    
    integration{
        adata_annotated = '/mnt/immunocompnas1/projects/liver-met/processing/results/sc_processing/checkpoints/02_LiverMets_annot.h5ad'
        n_genes = 2000
        label_key = 'cell_type'
        batch_key = 'pool'
    }
    
    }


// Processes

process {
    executor      = 'slurm'
    errorStrategy  = { task.exitStatus in [104, 134, 137, 139, 140, 143] ? 'retry' : 'terminate' }
    maxRetries = 2

    withLabel: 'samplesheet' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/scRNA.sif"

        queue          = 'franmartinez'
        cpus           = 1
        memory         = { 2.GB * task.attempt }
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_check_samplesheet'

    }

    withLabel: 'cellbender' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/cellbender.sif"
        containerOptions = "--nv"

        maxForks       = 3
        queue          = 'GPU'
        cpus           = 4
        memory         = { 40.GB * task.attempt }
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --gpus-per-task=1 --job-name=nf_cellbender'

    }

    withLabel: 'demultiplex' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/scRNA.sif"

        maxForks       = 3
        queue          = 'franmartinez'
        cpus           = 4
        memory         = { 10.GB * task.attempt }
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_demultiplex'

    }

    withLabel: 'run_QC' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/scRNA.sif"
        
        maxForks       = 6
        queue          = 'franmartinez'
        cpus           = 4
        memory         = { 8.GB * task.attempt}
        time           = '2h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_QC'

    }


    withLabel: 'merge_adatas' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/scRNA.sif"

        queue          = 'franmartinez'
        cpus           = 4
        memory         = { 30.GB * task.attempt}
        time           = '3h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_mergeAdatas'

    }


    withLabel: 'plot_QC' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/scRNA.sif"

        queue          = 'franmartinez'
        cpus           = 4
        memory         = { 20.GB * task.attempt}
        time           = '3h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_plot_QC'

    }

    withLabel: 'integration' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/integration.sif"
        containerOptions = "--nv"

        queue          = 'GPU'
        cpus           = 8
        memory         = { 30.GB * task.attempt}
        time           = '12h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --gpus-per-task=1 --job-name=nf_integration'

    }

    withLabel: 'integration_metrics' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/integration.sif"
        containerOptions = "--nv"

        queue          = 'GPU'
        cpus           = 4
        memory         = { 15.GB * task.attempt}
        time           = '6h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --gpus-per-task=1 --job-name=nf_integration_metrics'

    }

    withLabel: 'integration_plots' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/scRNA.sif"

        queue          = 'franmartinez'
        cpus           = 2
        memory         = { 2.GB * task.attempt}
        time           = '1h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_integration_plots'

    }


    }


env {
    NUMBA_CACHE_DIR = '/tmp' 
    MPLCONFIGDIR = '/tmp'
    XDG_CACHE_HOME = '/tmp'
}

// Profiles

profiles {
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
}


// --- Pipeline Reports ---
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}