workDir = "/mnt/immunocompnas1/projects/liver-met/processing/work"


params { 
    cellbender{
        input_mat = "/home/adrianparrilla@vhio.org/liver-met/alignment/LIVERMET_P01/outs/multi/count/raw_feature_bc_matrix.h5"
        output = "/home/adrianparrilla@vhio.org/liver-met/processing/cellbender_test"
        learning_rate = 2.5e-5
        expected_cells = 5000 
        total_droplets_included = null
    }

    QC{
        data_pkl = "/mnt/immunocompnas1/projects/cups_snRNA/processing/checkpoints/cups_snRNA_demultiplexed_all_samples.pkl"
    }

    plot_QC{
        color_by = 'batch'
    }
    
    integration{
        n_genes = 2000
        label_key = 'cell_type'
        batch_key = 'pool'
    }

    adata_QC = '/mnt/immunocompnas1/projects/liver-met/processing/results/QC_results/01_adata_concat_annots.h5ad'
    outdir = "/mnt/immunocompnas1/projects/liver-met/processing/results"
    metadata = "/mnt/immunocompnas1/projects/liver-met/processing/samples_metadata_new.csv"
    filename = 'Cups'
    sample_key = 'sample'
    
    }


// Processes

process {
    executor      = 'slurm'
    errorStrategy = 'finish'


    withLabel: 'cellbender' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/cellbender.sif"
        containerOptions = "-B /mnt/immunocompnas1/projects/liver-met/alignment"

        queue          = 'GPU'
        cpus           = 4
        memory         = '60 GB'
        time           = '12h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_CB --gpus-per-task=1'

        publishDir = [
            path: {"${params.outdir}/cellbender"},
            mode: 'copy',
            overwrite: true
        ]

    }


    withLabel: 'QC' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/scRNA.sif"
        containerOptions = "--no-home -B /mnt/immunocompnas1/projects/"

        queue          = 'franmartinez'
        cpus           = 6
        memory         = '50 GB'
        time           = '6h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_QC'

        publishDir = [
            path: {"${params.outdir}/QC_results"},
            mode: 'copy',
            overwrite: true
        ]
        }


    withLabel: 'plot_QC' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/scRNA.sif"
        containerOptions = "--no-home -B /mnt/immunocompnas1/projects/"

        queue          = 'franmartinez'
        cpus           = 2
        memory         = '10 GB'
        time           = '2h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_plot_QC'

        publishDir = [
            path: {"${params.outdir}/QC_results"},
            mode: 'copy',
            overwrite: true
        ]
        }

        withLabel: 'integration' {
        container = "/mnt/immunocompnas1/resources/singularity/custom/integration.sif"
        containerOptions = "--nv -B /mnt/immunocompnas1/projects/"

        queue          = 'GPU'
        cpus           = 2
        memory         = '30 GB'
        time           = '12h'
        clusterOptions = '--nodes=1 --ntasks-per-node=1 --job-name=nf_integration --gpus-per-task=1'

        publishDir = [
            path: {"${params.outdir}/integration"},
            mode: 'copy',
            overwrite: true
        ]
        }


    }


env {
    NUMBA_CACHE_DIR = '/tmp' 
    MPLCONFIGDIR = '/tmp'
    XDG_CACHE_HOME = '/tmp'
}

// Profiles

profiles {
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
}


// --- Pipeline Reports ---
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}